#home-container {
  display: flex;
  height: 75vh;
  flex-direction: column;
}
#textContainer {
  display: flex;
  flex-direction: column;

  height: 40vh;
 
}
#imageContainer {
}
#texth1 {
  font-family: "Playfair Display", serif;
  font-size: 2.2rem;
  margin-left: 5% ;
 
}
#textp {
  font-family: "Playfair Display", serif;
  font-size: 1.3rem;
  padding-left: 50%;
  padding-top: 10%;
}
.image{
  width: 30%;

}

.imgDiv{
  height: 50%;
  width: 100%;

}
.imgDiv2{
  height: 50%;
  width: 100%;

}
.div1{
grid-area: "image1";
margin-left: 8%;
}
.div2{
grid-area: "image2";
margin-top: 3%;
margin-left: 60%;
  }
  

.animate__animated.animate__slideInRight {
  --animate-duration: 2s;
}
.animate__animated.animate__slideInLeft {
  --animate-duration: 2s;
}

.animate__animated.animate__fadeIn{
  --animate-duration: 4s;
}
