#title {
  font-family: "Comfortaa", cursive;
  padding-left: 30px;
  margin: 0;
  padding-bottom: 0;
  font-size: 2rem;
}
#navContainer {
  height: 6vh;
  padding: 0;
  margin: 0;
}
#hr {
  padding: 0;
  margin: 0;
}
